In [1]:
# In Python, strings ( str ) can be created by enclosing text in single quotes ' , double quotes " , 
# and triple quotes ( ''' , """ ). You can also convert objects of other types into strings using str() .

# Example 
name = "'"
print(name)

'

In [2]:
x = 'a'
type(x)

# Here x is a character type variable because in x only "a" is stored which is only a character not a string but if in place of "a"
# if there is written some name or anything like "coder" then it is called string type variable .

str

In [8]:
x = 'Welcome to Python foundation course'

In [9]:
x

'Welcome to Python foundation course'

In [11]:
x.find('f')

18

In [14]:
x.count('n')

3

In [17]:
len(x)

35

In [18]:
x = str(input("Enter string"))

Enter string Python

In [19]:
word = 'PanaJ1@T//56'

In [20]:
word

'PanaJ1@T//56'

In [3]:

def Count(str):
	upper, lower, number, special = 0, 0, 0, 0
	for i in range(len(str)):
		if str[i].isupper():
			upper += 1
		elif str[i].islower():
			lower += 1
		elif str[i].isdigit():
			number += 1
		else:
			special += 1
	print('Upper case letters:', upper)
	print('Lower case letters:', lower)
	print('Number:', number)
	print('Special characters:', special)

str = "#PanaJ1@T//56"
Count(str)

Upper case letters: 3
Lower case letters: 3
Number: 3
Special characters: 4